{% extends "base.html" %}
{% block content %}
    {% load bootstrap3 %}

    <form class="form" action="/makeBlog/" method="post">
        <legend>Make Blog</legend>
        <fieldset>
            {% csrf_token %}
            {% bootstrap_form ArticleForm layout="inline" %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Submit
                </button>
            {% endbuttons %}
        </fieldset>
    </form>
{% endblock %}